.banner {
  position: relative;
  height: 223px;
  width: 100%;
  border-radius: 25px;
  margin: 38px 0 0 0;
  overflow: hidden;

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
  }

  h1 {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0 20px;
  }
}

// Desktop version
@media (min-width: 1024px) {
}

// Tablet version
@media (min-width: 768px) and (max-width: 1023px) {
  .banner {
    height: 180px;
    width: 100%;
    border-radius: 20px;
    margin-top: 30px;

    h1 {
      font-size: 35px;
    }
  }
}

// Mobil version
@media (min-width: 320px) and (max-width: 767px) {
  .banner {
    height: 140px;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;

    &__container {
      justify-content: left;
    }
    h1 {
      position: absolute;
      left: 10px;
      bottom: 40px;
      text-align: left;
      width: 225px;
      font-size: 24px;
      padding: 0 10px;
      line-height: 1.2;
    }
  }
}
