* {
  font-family: "Montserrat", sans-serif;
}

:root {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  //align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  min-width: 320px;
  padding-top: 40px;
}
