$footer-background-color: #000000;

.footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: $footer-background-color;
  height: 209px;
  padding: 75px 0 0 0;

  /* @include mobile-only {
        margin-top: 50px;
    }*/

  &__img {
    width: 125px;
    height: 40px;
  }

  &__text {
    margin: 0;
    color: white;
    font-weight: 500;
    font-size: 24px;

    /*@include mobile-only {
            font-size: 12px;
            margin-bottom: 30px;
        }*/
  }
}
