.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
  height: 68px;

  &__logo {
    height: 68px;

    &:hover {
      transform: scale(1.02);
      transition: all 0.5s ease-in-out;
      cursor: pointer;
    }
  }

  nav {
    ul {
      display: flex;
      font-weight: medium;
      font-size: 24px;
      align-items: center;
      gap: 55px;
      a {
        text-decoration: none;
        color: black;
        /*&.underline {
          text-decoration: underline;
        }*/
        &:hover {
          text-decoration: underline;
        }
      }
      li {
        list-style: none;
        margin: 0 10px;
        color: black;
      }
    }
  }
}

// Desktop version
@media (min-width: 1024px) {
  .header {
    width: 85%;
    margin: 0 auto;
  }
}

// Tablet version
@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    margin: 30px;

    &__logo {
      height: 50px;
    }

    nav {
      ul {
        display: flex;
        font-size: 20px;
        gap: 40px;
      }
    }
  }
}

// Mobile version
@media (max-width: 767px) {
  .header {
    margin: 25px 20px;
    &__logo {
      height: 46px;
    }
    nav {
      ul {
        font-size: 17px;
        font-weight: 500;
        display: flex;
        gap: 26px;
      }
    }
  }
}
