$primary-color: #ff6060;

.header {
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
  height: 68px;

  &__logo {
    height: 68px;

    /*@include mobile-only {
      height: 46px;
    }

    &:hover {
      transform: scale(1.02);
      transition: all 0.5s ease-in-out;
      cursor: pointer;
    }*/
  }

  /* @include mobile-only {
    padding: 20px;
  }

  @include tablet-only {
    padding: 50px;
  }*/

  nav {
    ul {
      display: flex;
      font-weight: medium;
      font-size: 24px;
      align-items: center;
      gap: 55px;
      a {
        text-decoration: none;
        color: black;
        &.underline {
          text-decoration: underline;
        }
        &:hover {
          text-decoration: underline;
        }
      }
      li {
        list-style: none;
        margin: 0 10px;
        color: black;
      }
    }
  }
}

/*.navbar {
  /*display: flex;
  font-weight: 500;
  font-size: 24px;
  align-items: center;
  gap: 55px;

  @include mobile-only {
    font-size: 12px;
    text-transform: uppercase;
    gap: 15px;
  }

  &__button {
    color: $primary-color;

    &--selected {
      text-decoration-line: underline;
    }
  }
}*/
