.about-page {
  // Desktop version
  @media (min-width: 1024px) {
    width: 85%;
    margin: 0 auto;
    justify-content: center;
  }

  // Tablet version
  @media (min-width: 768px) and (max-width: 1023px) {
    width: 100%;
  }

  // Mobile version
  @media (max-width: 767px) {
    width: 100%;
  }

  &__content {
    // width: 1023px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 40px 0;
  }
}
