.about-page {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 40px 0;

  .about-collapse {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20px 0 40px 0;
  }
}

// Desktop version
@media (min-width: 1024px) {
  .about-page {
    width: 85%;
    margin: 0 auto;
    justify-content: center;
  }
}

// Tablet version
@media (min-width: 768px) and (max-width: 1023px) {
  .about-page {
    padding: 30px;
  }
}

// Mobile version
@media (max-width: 767px) {
  .about-page {
    gap: 19px;
    margin: 20px;
  }
}
