.error {
  display: flex;
  flex-direction: column;
  gap: 95px;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__title {
    font-size: 288px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #ff6060;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 36px;
    margin: 0;
    color: #ff6060;
  }

  &__link {
    text-decoration-line: underline;
    font-weight: 500;
    font-size: 18px;
    color: black;
  }
}

// Desktop version
@media (min-width: 1024px) {
  .error {
    width: 85%;
    margin: 90px auto;
  }
}

// Tablet version
@media (min-width: 768px) and (max-width: 1023px) {
  .error {
    width: 100%;
    margin: 90px auto;

    &__title {
      font-size: 150px;
    }

    &__subtitle {
      font-weight: 500;
      font-size: 24px;
      margin: 0;
    }

    &__link {
      font-size: 16px;
    }
  }
}

// Mobile version
@media (max-width: 767px) {
  .error {
    width: 100%;
    margin: 115px auto;

    &__title {
      font-size: 96px;
      gap: 80px;
    }
    &__subtitle {
      width: 260px;
      font-size: 14px;
    }
  }
}
