$primary-color: #ff6060;
$secondary-color: #fff;
$background-color: #f6f6f6;
$footer-background-color: #000000;
$banner-overlay-color: rgba(0, 0, 0, 0.3);

/*$breakpoints: (
  mobile: 767px,
  tablet: 768px,
  desktop: 991px,
);*/

// Breakpoints
/*$breakpoints: (
  mobile: 768px,
  tablet: 992px,
  desktop: 1200px,
);*/
